apiVersion: apps/v1
kind: Deployment
metadata:
  name: ${APP_NAME}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ${APP_NAME}
  template:
    metadata:
      labels:
        app: ${APP_NAME}
    spec:
      containers:
        - name: ${APP_NAME}
          image: chaitanyapandeygspann/${APP_NAME}:1.0.${BUILD_NUMBER}
          imagePullPolicy: Always
          ports:
            - containerPort: 3000