apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo2-appservice
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/BackstageSSPPoC/k8s-manifests.git
    targetRevision: main
    path: apps/demo2-appservice
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true